@import "tailwindcss";

:root{
  background-image: radial-gradient(circle at top left, #1f2937, #111827, #0f172a);
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}